<ion-view view-title="landing">
  <ion-content scroll="false">
	 <div  class="bg-yellow full-height" full-height>
			<div class='main-container'>
				<div id='logo-box'>
					<img class='logo vertical-middle' src='img/logo.png'/>
				</div>
			</div>
	  </div>
	<div class='color-white text-center net-error' >No network connection!</div>
     <div class = "tabs tack">
   <a class = "tab-item" ng-click='show_login1()' id='signIn-redirect-btn'>
      SIGN IN
   </a>
    </div>
  </ion-content>
</ion-view>
